@font-face {
    font-family: "MostraNuova-Bold";
    src: local("MostraNuova-Bold"), url(~assets/font/FontsFree-Net-aa.ttf) format("truetype");
}

@font-face {
    font-family: "Helvetica";
    src: local("Helvetica"), url(~assets/font/Helvetica-Bold.ttf) format("truetype");
}

.logo-text-shadow {
    text-shadow: 0px 1px 20px red, 0px 1px 20px red, 0px 1px 20px red;
}

.roadmap-title-shadow {
    text-shadow: -1px 1px 8px #c9a814, -1px 9px 15px #c9a814, -2px -5px 12px #c9a814;
}

.learn-more-title {
    text-shadow: 0px 0px 20px red, 0px 0px 20px red, 0px 0px 20px red, 0px 0px 20px red;
}

.footer-text-shadow {
    text-shadow: -1px 1px 8px #ffd100, -1px 9px 15px #ffd104, -2px -5px 12px #ffd100;
}

.footer-icons-shadow {
    filter: drop-shadow(0px 0px 6px rgb(255, 230, 0));
}